<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">  <!-- it's important for d3.js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script> <!-- or use another assembly -->
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div ng-app="oracle">
        <div ng-controller="MainCtrl">
            <nvd3 options="options" data="data"></nvd3>
        </div>
    </div>
  </body>

  <script src="/javascripts/angularApp.js"></script>
  <!-- import controllers part -->
  <script src="/javascripts/controllers/mainCtrl.js"></script>
  <!-- import services part -->
  <script src="/javascripts/services/API.js"></script>
</html>
